.searchbutton,
.currentlocation {
  border-radius: 10px;
}
.main {
  margin-top: 30px;
}
.headline {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  text-align: center;
  display: block;
  font-size: 60px;
  color: #a5a9a0;
}
body {
  background: #9ca38e !important;
}
p {
  color: #a5a9a0 !important;
}
ul {
  font-size: 30px;
  color: #a5a9a0;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.currentweather {
  font-size: 64px;
  color: #bd9a7a;
  height: 64px;
  width: 64px;
}
.weathericon {
  font-size: 100px;
  color: #bd9a7a;
}
.Currently {
  font-size: 40px;
}
.location {
  font-size: 30px;
}
.location,
.day {
  font-style: italic;
}
.Currently,
.location,
.day {
  color: #a5a9a0 !important;
}
.currentTemp {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.unitConversion {
  position: relative;
  font-size: 20px;
  top: -30px;
}
.currentTemp,
.minmax {
  color: #9ca38e;
}
.minmax {
  font-size: 30px;
  font-style: italic;
}
.dayweather {
  color: #9ca38e;
  font-weight: bold;
}
.tempnumber {
  font-style: italic;
  color: #bd9a7a;
}
#location,
#description {
  width: 600px;
  padding-left: 20px;
}
.time {
  font-size: 30px;
  color: #a5a9a0;
}
#location-input {
  margin-left: 10px;
}
